h1 {
    text-align: center;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.choices div {
    max-width: 300px;
    max-height: 300px;
    padding: 16px;
    background-color: aliceblue;
    border: 2px solid aliceblue;
    border-radius: 10px;
}

.game-status p {
    text-align: center;
}